<div class="container">

<h3>新規社員登録フォーム</h3>
<%= form_tag("/create") do %>
    <div class="form-group">
        <%= label_tag "form-title", "暗証番号" %>
        <%= text_field :users, :title, id:"form-title", class:"form-control", placeholder: "ここに入力する暗証番号は予めメモをしておいてください"%>
    </div>
    <div class="form-group">
        <%= label_tag "form-content", "氏名" %>
        <%= text_field :users, :body, id:"form-content", class:"form-control", placeholder: "あなたの氏名を入力してください"%>
    </div>
    <%= submit_tag "登録する", class:"btn btn-primary"%>
<% end %> 
</div>